@charset "utf-8";

:root {
    --bg-color: #040404;
    --sb-color: #E9204F;
    --bl-color: #1A1A1A;
    --wh-color: #F3F3F3;
}


/* 폰트 */
body {
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 레이아웃 */
.container {
    width: 1280px;
    margin: 0 auto;
}
.row {
    padding: 0 75px;
}
.gap {
    padding: 100px 0;
}

/* header */
#header {
    background: var(--bg-color);
}
#header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}
#header h1 svg {
    padding-top: 10px;
    width: 130px;
}
#header nav {
    margin-left: auto;
}
#header nav ul {
    display: flex;
}
#header nav ul li {
    padding: 24px;
    padding-right: 0;
}
#header nav ul li a {
    color: #fff;
    display: block;
    position: relative;
    transition: all 0.3s;
}
#header nav ul li a:after {
    content: '';
    width: 0px;
    height: 5px;
    background: var(--sb-color);
    position: absolute;
    bottom: -10px;
    left: 2px;
    transition: all 0.3s;
}
#header nav ul li a:hover {
    color: var(--sb-color);
}
#header nav ul li a:hover:after {
    width: 30px;
}
#header .m_btn {
    display: none;
    color: #fff;
}
#header .m_btn svg {
    width: 32px;
    height: 32px;
}
#header .m_menu {
    background: var(--bl-color);
    color: #fff;
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translateX(100%);
    transition: all 0.3s;
}
#header .m_menu .m_close {
    color: #fff;
}
#header .m_menu .m_close svg {
    width: 32px;
    height: 32px;
    float: right;
    padding: 18px;
}
#header .m_menu ul {
    margin: 14vw 8vw;
}
#header .m_menu ul li {
    margin-bottom: 24px;
}
#header .m_menu ul li a {
    font-size: 20px;
    color: #fff;
    display: block;
    position: relative;
    transition: all 0.3s;
}
#header .m_menu ul li a:hover {
    color: var(--sb-color);
}

/* main */
#main {
    background: var(--bg-color);
    color: #fff;
}
#main .main_tit {
    padding: 150px 0;
}
#main .main_tit h2 {
    font-size: 8rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 32px;
    position: relative;
}
#main .main_tit h2:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background: var(--sb-color);
    top: 0;
    left: 0;
}
#main .main_menu {
    display: flex;
    justify-content: space-between;
}
#main .main_menu article {
    background: var(--bl-color);
    width: 25%;
    padding: 3vw 2.5vw;
    position: relative;
    transition: all 0.3s;
}
#main .main_menu article:after {
    content: '';
    width: 100%;
    height: 10%;
    background: var(--bl-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}
#main .main_menu article.active {
    background: var(--sb-color);
}
#main .main_menu article.active:after {
    top: -15px;
    background: var(--sb-color);
}
#main .main_menu article.active svg {
    fill: #fff;
}
#main .main_menu article svg {
    fill: #747474;
    margin-bottom: 48px;
}
#main .main_menu article strong {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    position: relative;
}
#main .main_menu article strong::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    height: 2px;
    background: var(--sb-color);
}
#main .main_menu article p {
    margin: 24px 0 0 5px;
}
#main .main_menu article:last-child {
    position: relative;
}
#main .main_menu .point:last-child:after {
    content: '';
    width: 105%;
    height: 20px;
    background: var(--sb-color);
    position: absolute;
    right: -20px;
    bottom: -20px;
}
#main .main_menu .point:last-child::before {
    content: '';
    width: 20px;
    height: 30%;
    background: var(--sb-color);
    position: absolute;
    right: -20px;
    bottom: -20px;
}


/* 공통 */
.tit {
    margin-bottom: 72px;
}
.tit h3 {
    font-size: 4.8rem;
    font-weight: 800;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 1.6rem;
}
.tit h3.line:after {
    content: '';
    position: absolute;
    background: var(--sb-color);
    width: 40px;
    height: 2px;
    top: 0;
    left: 0;
}
.tit h4 {
    color: var(--sb-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
button {
    width: 200px;
    height: 50px;
    border: 2px solid var(--sb-color);
    color: #fff;
    font-weight: 700;
    transition: all 0.3s;
}
button:hover {
    background-color: var(--sb-color);
    color: var(--bl-color);
}
/* scrollAni */
.opacity {
    opacity: 0;
}
.scrollAni {
    transition: all 1s;
}


/* service */
#service {
    background: #fff;
}
#service .service_menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#service .service_menu ul li {
    background: #E0E0E0;
    padding: 2vw 1.5vw;
    width: 28%;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    transition: all 0.3s;
}
#service .service_menu ul li a {
    width: 100%;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;
}
#service .service_menu ul li a svg {
    opacity: 0;
    float: right;
    padding-top: 5px;
}
#service .service_menu ul li:hover {
    background: var(--sb-color);
}
#service .service_menu ul li:hover a {
    color: #fff;
}
#service .service_menu ul li:hover svg {
    opacity: 1;
}


/* works */
#works {
    background: var(--bg-color);
    color: var(--wh-color);
}
#works .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#works .tit h3 {
    color: #fff;
}
#works .works_slider .slider_container {
    display: flex;
    width: calc(33.4% * 6);
    transition: transform 0.5s;
    margin-bottom: 48px;
}
#works .works_slider .slider_container .slider_item {
    background: var(--sb-color);
    width: 33.4%;
    height: 360px;
    margin: 12px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
#works .works_slider .slider_container .slider_item .desc {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.401);
    color: var(--wh-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#works .works_slider  .slider_container .slider_item .desc strong {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 4px;
}
#works .works_slider  .slider_container .slider_item .desc p {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}
#works .works_slider .slider_pagination {
    text-align: center;
    display: flex;
    justify-content: center;
}
#works .works_slider .slider_pagination li {
    border: 1px solid var(--sb-color);
    margin-left: -1px;
    transition: all 0.3s;
}
#works .works_slider .slider_pagination li:first-child {
    border-radius: 20% 0 0 20%;
}
#works .works_slider .slider_pagination li:last-child {
    border-radius: 0 20% 20% 0;
}
#works .works_slider .slider_pagination li a {
    font-size: 1.3rem;
    display: block;
    padding: 6px 12px;
    color:#fff;
}
#works .works_slider .slider_pagination li a svg {
    width: 13px;
    height: 13px;
    padding-top: 4px;
}
#works .works_slider .slider_pagination li:hover {
    background: var(--sb-color);
}
#works .works_slider .slider_pagination li.active {
    background: var(--sb-color);
}


/* about */
#about .tit {
    display: flex;
}
#about .tit article {
    width: 50%;
}
#about .tit article p {
    color: #747474;
}
#about .about_img ul {
    position: relative;
}
#about .about_img ul:after {
    content: '';
    width: 150px;
    height: 150px;
    background: var(--sb-color);
    position: absolute;
    top: -16px;
    right: 16px;
    z-index: -1;
    overflow: hidden;
}
#about .about_img ul li {
    box-sizing: border-box;
    height: 615px;
}
#about .about_img ul li:nth-child(1) {
    float: left;
    width: calc(70% - 60px);
    background: red;
    position: relative;
} 
#about .about_img ul li:nth-child(1):after {
    content: '';
    width: 150px;
    height: 150px;
    background: var(--sb-color);
    position: absolute;
    bottom: -16px;
    left: -16px;
    z-index: -1;
}
#about .about_img ul li:nth-child(2), #about .about_img ul li:nth-child(3) {
    float: left;
    width: 30%;
    height: calc(585px / 2);
    background: blue;
    margin: 0 30px 30px 30px;
}
#about .about_img ul li a {
    width: 100%;
    height: 100%;
    color: #fff;
    display: block;
    position: relative;
    transition: all 0.5s;
    opacity: 0;
}
#about .about_img ul li a:hover {
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}
#about .about_img ul li a span {
    position: absolute;
    bottom: 32px;
    left: 32px;
}
#about .about_img ul li a span p {
    font-size: 1.2rem;
}


/* say */
#say {
    background: var(--wh-color);
}
#say .say {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#say .say .say_img {
    width: 36%;
}
#say .say .tit {
    width: 56%;
}
#say .say .say_cor {
    width: 100%;
    padding-top: 100px;
}
#say .tit h4 {
    margin-bottom: 56px;
}
#say .tit p {
    margin-bottom: 32px;
}
#say .say .say_cor ul {
    display: flex;
    justify-content: space-between;
}


/* news */
#news .tit {
    text-align: center;
}
#news .news_slider .slider_container {
    display: flex;
    width: calc(34% * 6);
    transition: all 0.5s;
    margin-bottom: 48px;
}
#news .news_slider .slider_container .slider_item {
    background-size: cover;
    width: 34%;
    height: 360px;
    margin-right: 16px;
}
#news .news_slider  .slider_container .slider_item .desc {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.401) 35%, rgba(255, 255, 255, 0) 100%);
    color: var(--wh-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#news .news_slider  .slider_container .slider_item .desc strong {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 4px;
    font-weight: 300;
}
#news .news_slider  .slider_container .slider_item .desc p {
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
}
#news .news_slider .slider_pagination {
    display: flex;
    justify-content: center;
}
#news .news_slider .slider_pagination li {
    border: 1px solid var(--wh-color);
    border-radius: 50%;
    transition: all 0.3s;
    margin: 4px;
}
#news .news_slider .slider_pagination li a {
    display: block;
    width: 14px;
    height: 14px;
    color:#fff;
}
#news .news_slider .slider_pagination li:hover {
    background: var(--sb-color);
}
#news .news_slider .slider_pagination li.active {
    background: var(--sb-color);
}



/* talk */
#talk {
    background: var(--bg-color);
    color: var(--wh-color);
}
#talk .talk {
    display: flex;
    justify-content: space-between;
}
#talk .talk .talk_sns ul {
    overflow: hidden;
}
#talk .talk .talk_sns ul li {
    float: left;
    margin-right: 16px;
}
#talk .talk .talk_sns ul li a {
    width: 50px;
    height: 50px;
    border: 2px solid var(--sb-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 12px;
}
#talk .talk .talk_tit h3 {
    font-size: 4.8rem;
    font-weight: 800;
}


/* footer */
#footer {
    color: #8A8A8A;
    font-size: 1.4rem;
}#footer .gap {
    padding: 30px 0;
}
#footer .footer {
    display: flex;
    justify-content: space-between;
}
#footer article ul {
    overflow: hidden;
}
#footer article ul li {
    float: left;
    margin-left: 32px;
}
#footer article ul li a {
    display: block;
    color: #8A8A8A;
    font-size: 1.4rem;
}


/* 미디어쿼리 */
@media (max-width: 1280px) {
    /* 레이아웃 */
    .container {
        width: 100%;
    }
    .gap {
        padding: 60px 0;
    }
}
@media (max-width: 1024px) {
    /* 레이아웃 */
    .row {
        padding: 0 40px;
    }
    /* 폰트 */
    html {
        font-size: 55%;
    }
    
    /* main */
    #main .main_menu article svg {
        display: none;
    }

    /* service */
    #service .service_menu ul li {
        padding: 3vw 2vw;
    }
    /* about */
    #about .about_img ul li:nth-child(1) {
        width: calc(70% - 20px);
    } 
    #about .about_img ul li:nth-child(2),
    #about .about_img ul li:nth-child(3) {
        height: calc(605px / 2);
        margin: 0 10px 10px 10px;
    }
    #about .about_img ul:after,
    #about .about_img ul li:nth-child(1):after {
        display: none;
    }

    /* say */
    #say .say .say_cor ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    /* talk */
    #talk .talk {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #talk .talk article {
        margin: 12px 0 12px 0;
    }
    
}
@media (max-width: 768px) {
    /* header */
    #header nav {
        display: none;
    }
    #header .m_btn {
        display: block;
        margin-left: auto;
    }

    /* main */
    #main .main_tit {
        padding: 100px 0;
    }
    #main .main_menu article {
        padding: 5vw 3vw;
    }
    
    /* service */
    #service .service_menu ul li {
        padding: 1vw 1.8vw;
        margin-bottom: 12px;
    }

    /* works */
    #works .works_slider .slider_container {
        width: calc(50% * 6);
    }
    #works .works_slider .slider_container .slider_item {
        width: 50%;
    }

    /* about */
    #about .about_img ul li {
        height: 430px;
    }
    #about .about_img ul li:nth-child(2), #about .about_img ul li:nth-child(3) {
        height: calc(420px / 2);
    }
    #about .about_img ul li a span {
        bottom: 16px;
        left: 16px;
    }

    /* say */
    #say .say .say_cor {
        padding-top: 0;
    }

    /* news */
    #news .news_slider .slider_container {
        width: calc(50% * 6);
    }
    #news .news_slider .slider_container .slider_item {
        width: 50%;
    }

    /* talk */
    #talk .talk .talk_sns ul li a {
        width: 40px;
        height: 40px;
    }
    #talk .talk .talk_tit h3 {
        font-size: 3.2rem;
        font-weight: 800;
    }
}
@media (max-width: 480px) {

    /* service */
    #service .service_menu ul li {
        padding: 1vw 1.5vw;
    }
    #service .service_menu ul li {
        width: 45%;
    }
}